<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-indigo-300 to-indigo-400">
  <div class="flex flex-col items-center justify-center w-full max-w-md p-6 bg-white rounded-lg shadow">
    <h1 class="text-4xl font-bold text-gray-700">Welcome to EmploySoft</h1>
    <p class="mt-4 text-gray-500">In this application you can manage your projects and tasks, as well as manage your profile</p>

    <div class="mt-8">
      <a [routerLink]="['/login']" class="inline-flex items-center justify-center px-4 py-2 rounded-md bg-indigo-500 text-white font-medium shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-all">
        Login
      </a>
      <a [routerLink]="['/signup']" class="inline-flex items-center justify-center px-4 py-2 bg-gray-100 border border-transparent rounded-md font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-all ml-2">
        Sign Up
      </a>
    </div>
  </div>
</div>
