<div class="flex justify-center items-center h-screen bg-indigo-300">
  <div class="w-full max-w-md bg-white shadow-2xl rounded-2xl p-8">
    <div class="flex justify-center">
      <a href="/">
        <h1 class="text-4xl font-bold text-gray-700 hover:text-indigo-500 transition-all"> EmploySoft </h1>
      </a>
    </div>
    <div class="border-b border-gray-200 mt-8 mb-4"></div>

    <form class="space-y-4" (ngSubmit)="login($event)">
      <div class="flex flex-col">
        <label for="username" class="text-sm text-gray-700 my-2 font-medium">Username</label>
        <input type="text" id="username" name="username" [(ngModel)] ="username" class="shadow-sm rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 px-3 py-2 transition-all">
      </div>

      <div class="flex flex-col">
        <label for="password" class="text-sm text-gray-700 my-2 font-medium">Password</label>
        <input type="password" id="password" name="password"  [(ngModel)] ="password" class="shadow-sm rounded-md focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 px-3 py-2 transition-all">
      </div>

      <button type="submit" class="inline-flex items-center justify-center px-4 py-2 rounded-md bg-indigo-500 text-white font-medium shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-all w-full">
        Sign In
      </button>
    </form>

    <span class="text-sm text-gray-500 block mt-6 text-center">
      New to EmploySoft?
      <a href="/signup" class="text-indigo-600 hover:text-indigo-500 transition-all">Create an account</a>
    </span>
  </div>
</div>
